/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Spectral:wght@400;500&display=swap');

/*
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}
*/

/*@import url('https://fonts.googleapis.com/css2?family=Anton&family=Forum&display=swap');

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 500;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
}*/

/*Asterix wildcard to override browser styles*/
*{
   padding:0;
   margin:0;
   box-sizing:border-box;
   
}

/*General Styles*/


/*Header*/

header {
   background-color:lightsteelblue;
   padding: 0 1rem;
   position: fixed;
   z-index: 99;
   width:100%;
   box-shadow: 0 3px;
   font-family: 'DM Serif Text', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;

}

header a {text-decoration: none;
   color: inherit;
}

main a {text-decoration:underline;
   color:inherit;

}

main {margin-top: 110px;}

#menu {display: flex;
   position: sticky;
   align-items:center;
   list-style-type: none;
   justify-content: space-between;
   font-size:110%;
   text-transform:initial;
   letter-spacing: 0px;

}
   
/*Main Content*/


body {min-height: 100vh;
   display: flex;
   flex-direction: column;
   color:black;
   font-family: 'Spectral', sans-serif;
   background-color:lightgoldenrodyellow;
   flex: 1 0 auto;

}

h3 {text-align: center;
margin-top: 20px;
margin-bottom: 20px;
border-style: double;}

p {text-align: center;}

#finches {height:200px;
width:100%;
background: url(../css/images/charles-darwin-and-finches.webp) no-repeat center center/cover;
}

/*{margin-top: 20px;
   text-align: center;
}*/


#newsletter {text-align: center;}



/*Footer*/

footer {background-color:lightsteelblue;
margin-top: 10px;}

@media screen and (min-width: 992px) {
   #menu a:hover{
      border-bottom: 1px solid black
   }
}

/*

header {color:black;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align:center
}

body {background-color: white;
   margin:10px
}

#navigation {color:midnightblue;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align:center;
}

#main-body {background-color:rgb(117, 160, 193)}


h3 {
   border-width:3px;
   border-style:double;
   border-color:midnightblue
}

h3 {color:black;
    font-family:'sans-serif', 'Times New Roman';
    font-size:large;
    text-align:center;
}

p {color:black;
   font-family:'sans-serif', 'Times New Roman';
   font: size 80%;
   background-color:white;
   text-align:left;
   padding:10px;
}

#video {background-color: white;
background-position:center;
}

iframe {display:block;
margin:0 auto;
padding: 10px;
}

img {display:block;
margin:0 auto;
padding:10px;
background-color:white;
max-width: 100%;
height:auto;
}

#voyage {max-width: 50%;
height:auto;
}

#beagle {background-color: white;
   padding:10px;

}

#finches {background-color:white;
   border-width:3px;
   border-style:double;
   border-color:midnightblue;
   font-family:'sans-serif', 'Times New Roman';
    font-size:large;
    text-align:center;

}

#further-links {background-color:rgb(117, 160, 193);
   margin:0px;
   /*border-width:3px;
   border-style:double;
   border-color:midnightblue;
   margin:0px}
}


#extras {background-color:rgb(117, 160, 193);
   border-width:3px;
   border-style:double;
   border-color:midnightblue;
   margin:10px;
padding:10px;
}

#research-suggestions {background-color: white;
   margin:0px;
padding:0px;
text-align:center;

}
 #fieldset {background-color: white;}


#footer {position: sticky;
   bottom: 0;
}



/*padding*/
/*font-align*/