/*Asterix wildcard to override browser styles*/
*{
   padding: 10px;
   margin:0;
   
}

/*General Styles*/

header {background-color:rgb(129, 162, 184)
}

footer {background-color: black;
}

footer p{color:white}



h3 {color:black;
    font-family:'sans-serif', times-new-roman;
    font-size:large
}

p {color:black;
   font-family:'sans-serif', times-new-roman;
   font: size 80%;
}

h3 {
   border-width:3px;
   border-style:double;
   border-color:midnightblue
}


/*padding*/
/*font-align*/