/*Asterix wildcard to override browser styles*/
*{
   padding:10px;
   margin:10px;
   
}

/*General Styles*/

body {background-color:rgb(117, 154, 178)
}

h3 {color:black;
    font-family:'sans-serif', times-new-roman;
    font-size:large
}

p {color:black;
   font-family:'sans-serif', times-new-roman;
   font: size 80%;
}

h3 {
   border-width:3px;
   border-style:double;
   border-color:midnightblue
}


/*padding*/
/*font-align*/